// Typography
$base-font-family: "Open Sans", $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$primary-color: #337ab7;
$white-color: #fff;
$black-color: #000;
$blue-color: #477dca;
$dark-gray-color: #232323;
$medium-gray-color: #9a9a9a;
$light-gray-color: #dedede;

// Font Colors
$base-font-color: lighten($dark-gray-color, 25%);
$action-color: $primary-color;

// Border
$base-border-color: $light-gray-color;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: lighten($white-color, 5%);
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: .2s;
$base-timing: ease;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #505050 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f6f6f8 !default;
$code-text-color: #222323 !default;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
